@import "tailwindcss";

@theme{
    --color-one : #c98e39;
    --color-two : #B9976E;
    --color-tree : #D9D9D9;
    --color-four : #381818;
    --font-one : 'montserrat',sans-serif;
    --font-two : 'lato',sans-serif;
    --font-tree : 'agdasima', sans-serif;
    
}

.star{
  color: var(--color-one);
}

.bi-cart-fill{
    color: var(--color-one);
    font-size: 25px;
    cursor: pointer;
  }

  .bi-cart-fill:hover{
    color: rgb(240, 203, 39) ;
  }

.bi-instagram{
  color: var(--color-one);
    font-size: 30px;
    margin-left: 0px;
    cursor: pointer;
    transition:0.5s ease;
}

.bi-instagram:hover{
  transform: scale(1.2);
}

.sos {
  color: var(--color-one);
    /* font-size: 25px; */
    margin-left: 0px;
    cursor: pointer;
    transition:0.5s ease;
    /* font-size: 4px; */
}


.sos:hover{
  transform: scale(1.2);
}
/* 
#hamburger.active > div .line:nth-child(1)  {
    transform: rotate(65deg);
    
}

#hamburger.active > div .line:nth-child(2){
  opacity: 0;
}

#hamburger.active > div .line:nth-child(3)  {
  transform: rotate(-45deg);
  
} */


/* Media */

@media (max-width :768px){
  .kop{
    margin-right: 0px;
  }
}

@media (min-width :300px){
  .bi-cart-fill{
      font-size: 23px;
      margin-right: 10px;
      /* margin-top: -135px; */
  }

  .bi-tiktok{
    font-size: 15px;
  }
  .bi-instagram{
    font-size: 15px;

  }
}
@media (min-width :768px){
  .bi-cart-fill{
      font-size: 20px;
      margin-top: -5px;
      margin-right: 18px;
  }
  .bi-tiktok{
    font-size: 20px;
  }
  .bi-instagram{
    font-size: 20px;
    
  }
}

@media (min-width :1024px){
  .bi-cart-fill{
    font-size: 25px;
  }
  .bi-tiktok{
    font-size: 25px;
  }
  .bi-instagram{
    font-size: 25px;
    
  }
}

